.container{
    height:60px;
    width:60px;
    border: 40px;
    padding: 40px;
    border-radius: 20px;
}
.one{
    display: block;
    margin: 20px auto;
    padding: 8px 20px;
    font-size: 16px;
}